.mobile-app-unsupported {
    #main-content {
        gap: 20px;
    }

    #baron-nashor {
        width: 250px;
    }

    #image-text {
        font-size: var(--font-small);
        color: var(--text-color-faded);
    }
}

.desktop-app-unsupported {
    #main-content {
        gap: 20px
    }

    #ornn-wip {
        width: 250px;
        border-radius: var(--roundness);
    }

    #image-text {
        font-size: var(--font-small);
        color: var(--text-color-faded);
    }
}