#index-content-row {
    gap: 15px;
}

#join-room-input-panel {
    gap: 15px;
}

#join-room-room-content-row {
    gap: 15px;
}

#join-room-pass-content-row {
    gap: 15px;
}

#join-room-room-code-submit-button, #join-room-pass-code-submit-button {
    width: 150px;
}