#mcq-game-page-loader {
    width: 250px;
    border-radius: var(--roundness);
}

#mcq-game-page-question-image {
    width: 250px;
    height: 200px;
    overflow: hidden;
}

#team-code-input-panel {
    gap: 20px;
}